@import "tailwindcss";
@import "./pagy-tailwind.css";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  name: "arman";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: #ffffff;
  --color-base-200: #f1f5f9;
  --color-base-300: #cbd5e1;
  --color-base-content: #172033;

  --color-primary: #28756f;
  --color-primary-content: #ffffff;
  --color-secondary: #475569;
  --color-secondary-content: #ffffff;
  --color-accent: #436f7a;
  --color-accent-content: #ffffff;
  --color-neutral: #172033;
  --color-neutral-content: #f8fafc;

  --color-info: #436f7a;
  --color-info-content: #ffffff;
  --color-success: #4f7d65;
  --color-success-content: #ffffff;
  --color-warning: #a47732;
  --color-warning-content: #ffffff;
  --color-error: #a65353;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 0.625rem;
  --radius-box: 0.875rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
